.serverpopup ul {
    padding: 0;
    max-height: 75px;
    overflow-y: auto;
    border: 1px solid grey;
    border-radius: 2px;
    margin:20px;
    text-align: left;
    
}

.serverpopup li {
    cursor: pointer;
    padding-left: 10px;
    list-style: none;
}

.serverpopup .textLen {
    font-size: .5em;
    color:grey;
    padding-top:5px;
    padding-right: 7px;
    float:right;
}

.serverpopup li:hover {
    border: 1px solid gainsboro;
}

.serverpopup form {
    display:flex;
    justify-content: space-between;
    margin: 20px;
}
